body{
background-image:url(https://a.top4top.net/p_699p949e1.jpg) ;
background-size: contain;
display: flex;}


p{font-weight: bold;
  font-family:arial;
  ont-size:24px ;
color:white;
}
h1{font-weight: bold;
  font-family:arial;
  font-size: 46px;
  color:yellow;
  text-align: center;

}
h2{font-weight: bold;
  font-family:arial;
  ont-size: 10pt;
  color:yellow;


}
h3{font-weight: bold;
  font-family:arial;
  ont-size: 10pt;
  color:yellow;}


img{height: 30%;
  width:30%;}





img{display: flex;

}
